body{
    background-color: bisque;
}
.container{
    height: 500px;
    width: 300px;
    background-color: aliceblue;
    margin-top:70px;
    margin-bottom:70px;
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
}
#title{
    text-align: center;
    font-weight: bold;
    font-size:large;
    margin-top: 30px;
}
#image{
    height: 200px;
    width: 200px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
#text{
    font-size: small;
    margin:10px;
}