*{
    box-sizing: border-box;
}

.outer_box{
    width:100vw;
    height: 100vw;
    background: linear-gradient(to top left, aqua ,rgb(56, 160, 195));
}
.inner_box{
    width: 300px;
    border-radius: 8px;
    margin: 0 auto;
     position: relative;
    top:20%; 
    padding: 20px 40px;
    background-color: #ffffffaa;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;

}

.signup-header{
    text-align: center;
}
.signup-header p{
    font-size: small;
    font-weight: 100;
   
}
 #submit{
    margin: 10px;
    position: relative;
    margin-left: 5px;
    height: 40px;
    width:200px;
    background-color: aqua;
    border: 0px;
 }
 .circle-1{
    width:100px;
    height: 100px;
    position: absolute;
    margin-left: 10%;
    margin-top: 15%;
    border-radius: 50%;
    background: linear-gradient(to top left, aqua ,rgb(56, 160, 195));
 }
 .circle-2{
    width:80px;
    height: 80px;
    position: absolute;
    margin-left: 10%;
    margin-top: 40%;
    border-radius: 50%;
    background: linear-gradient(to top left, aqua ,rgb(56, 160, 195));
 }

#fullname{
    height: 30px;
    width:200px;
    border: none;
}
#email{
    height: 30px;
    width:200px;
    border: none;

}
#password{
    height: 30px;
    width:200px;
    border: none;
  }
  
.circle-3{
    width:100px;
    height: 100px; 
    position: absolute;
    margin-left: 80%;
    margin-top: 80%;
    border-radius: 50%;
    background: linear-gradient(to top left, aqua ,white);
 }
 .circle-4{
    width:80px;
    height: 80px;
    position: absolute;
    margin-left: 80%;
    margin-top: 60%;
    border-radius: 50%;
    background: linear-gradient(to top left, aqua ,white);
 }