.container{

    background-color: black;
    height: 30px;
    padding-top: 10px;


}
#a1{
    color: goldenrod;
    margin-right: 100px;
    
}
#a2{
     margin-right: 100px; 
     color: white;  
}
#a3{
     margin-right: 100px; 
     color: white;  
}