* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.todo-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(69, 217, 227, 0.9);
 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-group button {
  padding: 10px 20px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group button:hover {
  background: #2980b9;
}

.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: rgb(120, 248, 248);
  /* border-left: 5px solid #3498db; */
  /* transition: background 0.3s; */
}

.todo-list li:hover {
  background: rgb(86, 219, 86);
  
}

.todo-list input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.task-text {
  flex: 1;
  font-size: 16px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  background: none;
  border: none;
  color: #555;
  font-size: 16px;
  cursor: pointer;
}

.actions button:hover {
  color: #e74c3c;
}
